.btn-primary{
    width: fit-content;
    background-color: #414141;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    border: 2px solid #3c3c3c;
    border-radius: 12px;
    margin-top: 1rem;
}
.btn-primary:hover{
    cursor: pointer;
    background-color: #3c3c3c;
}